<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="org.uncommons.reportng.HTMLReporter" />

<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

</listeners>

  <test thread-count="5" name="Test">
  
   
  <groups>
  <run>  
  <include name="signup"></include>  
  <include name="register"></include>
  <include name="Invalidcountry"></include>
  <include name="Invalidpincode"></include> 
  <include name="loginvalid"></include> 
  <include name="logininvalidlogin"></include>
  <include name="search"></include>
  
  </run>
  </groups>
    <classes>
      
      
      
      
      <class name="com.test.TestSignUp"/>
      
    </classes>
  </test> <!-- Test -->
  
    
</suite> <!-- Suite -->
